.plan-background {
  background-image: url('../assets/canva_azul.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  height: 90vh;
  color: white; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(34, 34, 34, 0.1);
  width: 100%;
  max-width: 400px; 
  margin: 0 auto;
  border-radius: 8px;
  overflow-y: auto;
}

/* Ocultar la barra de desplazamiento */
.plan-background::-webkit-scrollbar {
  display: none;
}

.plan-detail-container {
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(34, 34, 34, 0.1);
  width: 100%; 
  max-width: 350px;
  margin: 0 auto;
  transition: all 0.3s ease;
}


.plan-background > div > p {
  color: white;
  font-size: 16px; 
}

.btnDetalle{
    background-color: rgba(0, 0, 0, 0.6);
}

.btnDetalle:hover{
    background-color: rgba(0, 0, 0, 1);
}



@media (max-width: 600px) {
  .plan-selector-container {
    width: 90%; 
  }

  .plan-buttons {
    flex-direction: column; 
    justify-content: center;
  }

  .plan-buttons button {
    width: 100%;
    margin-bottom: 10px; 
  }
}


@media (max-width: 900px) {
  .plan-selector-container {
    width: 70%; 
  }

  .plan-buttons button {
    width: 100%;
  }
}




/* Contenedor principal para el carrusel */
/* Estilos de las tarjetas */
.card-container {
  display: flex;
  overflow-x: auto;
  gap: 20px;
}

/*
.card {
    width: 200px; /* Tamaño fijo para las tarjetas 
    height: 350px; /* Tamaño fijo para las tarjetas 
    display: grid;
    align-content: center;
    justify-content: center;
}

.card > h2 {
    margin-left: auto;
    margin-top: 0;
}

.card-image{
    width: 200px;
}*/


/* Estilo para el contenedor de la tarjeta */
.card {
  position: relative;
  width: 100%;
  max-width: 300px; 
  margin: 10px; 
  border-radius: 20px; 
  overflow: hidden; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.card-image {
  width: 100%;
  height: auto; 
  display: block;
}

.card-button {
  position: absolute;
  bottom: 20px; 
  left:50%; 
  transform: translateX(-50%); 
  background-color: transparent; 
  color: white; 
  border-color: white; 
  padding: 10px 20px;
  border-radius: 5px; 
  font-size: 16px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

.card-button:hover {
  background-color: rgba(0, 0, 0, 0.6); 
}

@media (max-width: 768px) {
  .card {
    max-width: 100%; 
    margin: 0;
  }

  .card-button {
    bottom: 10px; 
    font-size: 14px; 
    padding: 8px 16px; 
  }

   .plan-detail-container {
    width: 90%;
    padding: 15px;
  }

  .plan-background h2 {
    font-size: 1.5rem; 
  }

  .plan-background p {
    font-size: 3.5vw; 
  }
}


@media (max-width: 480px) {
  .plan-background {
    width: 95%; 
    height: auto;
    padding: 10px; 
  }

  .plan-detail-container {
    width: 95%; 
    padding: 10px;
  }

  .plan-background h2 {
    font-size: 1.2rem; 
  }

  .plan-background p {
    font-size: 0.8rem;
  }
}